In [3]:
import pandas as pd
from Bio import SeqIO

In [ ]:
def get_id(data_value):
    return data_value.split("|")[1]

In [16]:
def get_organism(data_value):
    return data_value.split("OS=")[-1].split("OX=")[0].split("(")[0].strip()

In [19]:
def get_genero(data_value):
    return data_value.split(" ")[0]

In [4]:
matrix_data = []

for record in SeqIO.parse("../demo_sequences/uniprotkb_melanin_fungal_AND_reviewed_t_2025_07_03.fasta", "fasta"):
    
    row = {
        "id_seq" : record.id,
        "description" : record.description,
        "sequence" : str(record.seq)
    }

    matrix_data.append(row)

df_sequences = pd.DataFrame(matrix_data)
df_sequences

,id_seq,description,sequence
0,sp|A0A336U966|TYRP_ASPTE,sp|A0A336U966|TYRP_ASPTE Tyrosinase P OS=Asper...,MGFYRNLVLVAASCTQALGLCPAPRCDSPDIRHEWGELSREDRLSY...
1,sp|B0Y4X4|MPKA_ASPFC,sp|B0Y4X4|MPKA_ASPFC Mitogen-activated protein...,MSDLQGRKVFKVFNQDFIVDERYNVTKELGQGAYGIVCAATNVHTG...
2,sp|C9XI63|TEPS3_ANOGA,sp|C9XI63|TEPS3_ANOGA Thioester-containing pro...,MWQFIRSRILTVIIFIGAAHGLLVVGPKFIRANQEYTLVISNFNSQ...
3,sp|E9RBR0|ABR2_ASPFU,sp|E9RBR0|ABR2_ASPFU Laccase abr2 OS=Aspergill...,MWYQSASLLGVAAVAQAATVHYSLDLTWETGSPNGVSREMIFVNGQ...
4,sp|H6C7U6|CHS4_EXODN,sp|H6C7U6|CHS4_EXODN Chitin synthase 4 OS=Exop...,MAEPRMPRPATSPTRDKSHSPYRESPSRRLRDVETGYNPPQNPPYP...
...,...,...,...
72,sp|A0A0B4H2J9|ARP1_METGA,sp|A0A0B4H2J9|ARP1_METGA Scytalone dehydratase...,MSQSLTSSVETDSKTGSSKAISFQDYLDLSALDWARLRAILAPTLY...
73,sp|A0A2I1C3Z1|NSRI_ASPN1,sp|A0A2I1C3Z1|NSRI_ASPN1 Scytalone dehydratase...,MTKTVPPKTPAYEDTVGCQIALFEWAESYDTKDWGRLAKCIAPTLR...
74,sp|A0A4P8DJH6|DMR17_CRYX8,sp|A0A4P8DJH6|DMR17_CRYX8 Scytalone dehydratas...,MSKQPASEDIFGCQAALYEWAESYDSKDWDRLSKCIAPVLRVDYRA...
75,sp|E9ET41|ARP1_METRA,sp|E9ET41|ARP1_METRA Scytalone dehydratase-lik...,MNQSLTPSAGTDSKTGSSKAISFQDYLDLSTLDWARLRAILAPALY...
76,sp|F9XMW5|TF29_ZYMTI,sp|F9XMW5|TF29_ZYMTI Transcription factor MYCG...,MVFCTYCGQSFTRDEHLERHILTHTNVKPFKCFTCHMSFARRDLLQ...

In [20]:
df_sequences["id"] = df_sequences["id_seq"].apply(get_id)
df_sequences["organism"] = df_sequences["description"].apply(get_organism)
df_sequences["genero"] = df_sequences["organism"].apply(get_genero)
df_sequences

,id_seq,description,sequence,id,organism,genero
0,sp|A0A336U966|TYRP_ASPTE,sp|A0A336U966|TYRP_ASPTE Tyrosinase P OS=Asper...,MGFYRNLVLVAASCTQALGLCPAPRCDSPDIRHEWGELSREDRLSY...,A0A336U966,Aspergillus terreus,Aspergillus
1,sp|B0Y4X4|MPKA_ASPFC,sp|B0Y4X4|MPKA_ASPFC Mitogen-activated protein...,MSDLQGRKVFKVFNQDFIVDERYNVTKELGQGAYGIVCAATNVHTG...,B0Y4X4,Aspergillus fumigatus,Aspergillus
2,sp|C9XI63|TEPS3_ANOGA,sp|C9XI63|TEPS3_ANOGA Thioester-containing pro...,MWQFIRSRILTVIIFIGAAHGLLVVGPKFIRANQEYTLVISNFNSQ...,C9XI63,Anopheles gambiae,Anopheles
3,sp|E9RBR0|ABR2_ASPFU,sp|E9RBR0|ABR2_ASPFU Laccase abr2 OS=Aspergill...,MWYQSASLLGVAAVAQAATVHYSLDLTWETGSPNGVSREMIFVNGQ...,E9RBR0,Aspergillus fumigatus,Aspergillus
4,sp|H6C7U6|CHS4_EXODN,sp|H6C7U6|CHS4_EXODN Chitin synthase 4 OS=Exop...,MAEPRMPRPATSPTRDKSHSPYRESPSRRLRDVETGYNPPQNPPYP...,H6C7U6,Exophiala dermatitidis,Exophiala
...,...,...,...,...,...,...
72,sp|A0A0B4H2J9|ARP1_METGA,sp|A0A0B4H2J9|ARP1_METGA Scytalone dehydratase...,MSQSLTSSVETDSKTGSSKAISFQDYLDLSALDWARLRAILAPTLY...,A0A0B4H2J9,Metarhizium guizhouense,Metarhizium
73,sp|A0A2I1C3Z1|NSRI_ASPN1,sp|A0A2I1C3Z1|NSRI_ASPN1 Scytalone dehydratase...,MTKTVPPKTPAYEDTVGCQIALFEWAESYDTKDWGRLAKCIAPTLR...,A0A2I1C3Z1,Aspergillus novofumigatus,Aspergillus
74,sp|A0A4P8DJH6|DMR17_CRYX8,sp|A0A4P8DJH6|DMR17_CRYX8 Scytalone dehydratas...,MSKQPASEDIFGCQAALYEWAESYDSKDWDRLSKCIAPVLRVDYRA...,A0A4P8DJH6,Cryptosporiopsis sp.,Cryptosporiopsis
75,sp|E9ET41|ARP1_METRA,sp|E9ET41|ARP1_METRA Scytalone dehydratase-lik...,MNQSLTPSAGTDSKTGSSKAISFQDYLDLSTLDWARLRAILAPALY...,E9ET41,Metarhizium robertsii,Metarhizium
76,sp|F9XMW5|TF29_ZYMTI,sp|F9XMW5|TF29_ZYMTI Transcription factor MYCG...,MVFCTYCGQSFTRDEHLERHILTHTNVKPFKCFTCHMSFARRDLLQ...,F9XMW5,Zymoseptoria tritici,Zymoseptoria

In [21]:
df_sequences["organism"].unique().shape

(24,)

In [22]:
df_sequences["genero"].unique().shape

(17,)

In [23]:
import json

In [26]:
with open("../demo_sequences/uniprotkb_melanin_fungal_AND_reviewed_t_2025_07_03.json", 'r') as doc:
    data_json_query = json.load(doc)

In [55]:
matrix_data_json = []

for result in data_json_query['results']:
    primaryAccession = result['primaryAccession']
    taxonID = result['organism']['taxonId']
    is_fungal = "Fungi" in result['organism']['lineage']
    try:
        list_ec_number = result['proteinDescription']['recommendedName']['ecNumbers']
        ec_number_list = []
        for element in list_ec_number:
            ec_number_list.append(element['value'])
        
        ec_number_list = ":".join(ec_number_list)
    except:
        ec_number_list = ""

    row_data = {
        "primaryAccession": primaryAccession,
        "taxonID" : taxonID,
        "is_fungal" : is_fungal,
        "ec_number_list" : ec_number_list
    }
    matrix_data_json.append(row_data)

df_data_from_json = pd.DataFrame(matrix_data_json)

In [56]:
df_data_from_json

   primaryAccession  taxonID  is_fungal ec_number_list
0        A0A336U966    33178       True      1.14.18.-
1            B0Y4X4   451804       True      2.7.11.24
2            C9XI63     7165      False
3            E9RBR0   330879       True       1.10.3.-
4            H6C7U6   858893       True       2.4.1.16
..              ...      ...        ...            ...
72       A0A0B4H2J9  1276136       True        4.2.1.-
73       A0A2I1C3Z1  1392255       True        4.2.1.-
74       A0A4P8DJH6  2572248       True        4.2.1.-
75           E9ET41   655844       True        4.2.1.-
76           F9XMW5   336722       True

[77 rows x 4 columns]

In [58]:
df_data_process = df_sequences.merge(right=df_data_from_json, left_on="id", right_on="primaryAccession")

In [60]:
df_data_process.columns

Index(['id_seq', 'description', 'sequence', 'id', 'organism', 'genero',
       'primaryAccession', 'taxonID', 'is_fungal', 'ec_number_list'],
      dtype='object')

In [61]:
df_data_process["is_fungal"].value_counts()

is_fungal
True     74
False     3
Name: count, dtype: int64